.products-section {
    padding: var(--container-size);
    margin: 2rem 0;

    .title {
        margin-bottom: 2.625rem;

        .line {
            width: 4rem;
            border: 2px solid var(--primary);
        }

        h1 {
            font-size: 1.5rem;
            color: var(--black);
            font-weight: 700;
        }
    }

    .products {
        display: flex;
        .item-wrapper {
            border-radius: 4px;
            width: 236px;

            &:hover {
                border: 1px solid var(--primary-dark);

                .image-container {
                    img {
                        margin: 17px;
                    }
                }

                .product-content {
                    .conditions {
                        margin-bottom: 8px;
                    }

                    button {
                        display: block;
                    }

                    p {
                        margin-top: 9px;
                    }
                }
            }

            .image-container {
                background: #ffffff;
                text-align: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                img {
                    width: auto;
                    max-width: 200px;
                    height: 200px;
                    margin: 18px;
                }
            }

            .product-content {
                background: var(--white-1);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                p {
                    max-width: 166px;
                    min-height: 32px;
                    max-height: 32px;
                    padding-bottom: 16px;
                    font-size: 14px;
                    margin-top: 8px;
                    overflow-y: hidden;
                }

                .stars {
                    margin: 8px 0;

                    svg {
                        width: 14.63px;
                        height: 14px;
                        color: var(--warning);
                    }
                }

                .discount {
                    text-decoration-line: line-through;
                    font-size: 12px;
                    color: var(--black-2);
                    font-weight: 400;
                    width: 129px;
                    text-align: right;
                    min-height: 14px;
                }

                h1 {
                    font-weight: 700;
                    font-size: 2rem;
                    color: var(--primary);
                    margin: 4px 0;
                }

                .conditions {
                    font-size: 10px;
                    font-weight: 400;
                    color: #000000;
                    margin-bottom: 16px;
                }

                button {
                    width: 220px;
                    height: 42px;
                    background: var(--primary);
                    color: var(--white);
                    border-radius: 8px;
                    border: none;
                    margin-top: 8px;
                    margin-bottom: 16px;
                    display: none;
                    transition: filter 200ms ease;

                    &:hover {
                        cursor: pointer;
                        filter: brightness(1.1);
                    }
                }
            }
        }
    }
}
